@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.7);
    }
}
html, body {
    padding: 0;
    margin: 0;
}

body {
    /* outline: 1px solid blue; */
}

.header-text {
   font-family: ‘Lucida Sans’, ‘Lucida Sans Regular’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Geneva, Verdana, sans-serif;
    padding: 0 8px;
}

.logo-text {
   color: rgba(0,0,0, .9);
   font-size: 18px;
   display: inline-block;
   /* outline: 1px solid red; */
   /* padding-right: 50px; */
   /* background-color: yellow; */
   margin-right: 20px;
}

.container {
   display: inline-block;
   display: flex;
   justify-content: center;
   /* outline: 1px solid blue; */
}

.nav-link
{
   color: rgba(0,0,0,.5);
   text-decoration: none;
   margin-right: 8px;
   margin-bottom: 8px;
}
.hero-image {
    background-image:linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../images/animal-photography-daylight-elephant-247431.jpg);
    min-height: 600px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Mali', cursive;
    font-size: 30px;
}
.hero-image h2 {
    font-family: 'Mali', cursive;
    color: rgba(245, 245, 239, .9);
    font-size: 30px;
    position: absolute;
    top: 160px;
    /* outline: 1px solid red; */

}
/* Flexbox!!! Aw yeah */
.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me {
    padding: 0 8px;
}
.about-me h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.about-me p {
    margin: 0 auto;
    text-align: justify;
    line-height: 25px;
    padding: 10px 20px 0 20px;
    
}
.profile-image {
    width: 250px;
    margin: 0 auto;
}
.profile-image img {
    width: 100%;
    border-radius: 50%;
    margin: 30px 0 40px 0;
}
.profile-image img:hover {
    cursor: pointer;
}
.contact-links{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 12px;
    display: flex;
    justify-content: center;
}

.contact-links i {
    color: rgba(255, 255, 255, 0.7);
    padding: 15px 10px;
}

.contact-links .fab,
.contact-links .fas {
    color: white;
    margin: 0 8px;
    font-size: 25px;
    /* transition: transform .25s ease-in-out .1s; */
    
}
.contact-links a:hover {
    cursor: pointer;
}
.contact-links a:hover .fab,
.contact-links a:hover .fas,
.contact-links a:active .fab,
.contact-links a:active .fas {
    color: gray;
    /* font-size: 48px; */
    /* transform: scale(1.7); */
    animation-name: zoom;
    animation-duration: .25s;
    animation-fill-mode: forwards;

}

/* common “breakpoints” (ish)
think of s, m, l, xl, hugenormous
500px
768px
1024px
1200px
1400px
*/
@media screen and (max-width: 500px) {
    
}
